<div class="container-fluid text-center">
  <div class="container">
    <footer class="footer text-light mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <a class="text-light" routerLink="faqs">FAQs</a>
      </div>
      <div class="col-md-4 text-center">
        <a class="text-light" routerLink="privacy-policy">Privacy Policy</a>
      </div>
      <div class="col-md-4 text-center">
        <a class="text-light" routerLink="terms-of-service">Terms of Service</a>
      </div>
    </div>
    <div class="row">
      <div class="col text-center mt-3">
        <p>© 2023
          <a class="text-light" href="https://github.com/jvprz" target="_blank">jvprz</a>
          . All rights reserved. This site use
          <a class="text-light" href="https://open.spotify.com" target="_blank">Spotify</a>
           api.</p>
      </div>
    </div>
  </div>
    </footer>
  </div>
</div>

