<div class="text-center">
  <div class="container">
    <div class="card bg-dark mt-5">
      <div class="card-header">
        <h2 class="text-success">Privacy policy</h2>
      </div>
      <div class="card-body mt-3 mb-3">
        <h5 class="text-light text-justify">Privacy Policy for Cinemadle</h5>
        <p class="text-light text-justify mt-3">

          At Cinemadle, we take the privacy of our users seriously. This Privacy Policy document outlines the types of
          personal information we collect, how we use it, and how we protect your information. By using the Cinemadle
          website and services, you agree to the terms and practices described in this policy.
          <br>
          <br>
          <u>Information We Collect:</u>
          <br>
          1. Personal Information: When you play Cinemadle, we do not collect any personally identifiable information
          such as your name, address, or contact details.<br>

          2. Usage Data: We may collect non-personal information about your interaction with the Cinemadle website,
          including the number of games played, scores achieved, and general gameplay statistics. This data is used to
          improve our services and enhance the user experience.<br>

          3. Cookies: Cinemadle may use cookies and similar technologies to enhance your experience on our website.
          These cookies are small text files stored on your device that allow us to recognize your preferences, track
          usage patterns, and provide personalized content. You have the option to disable cookies through your browser
          settings, although this may affect your ability to access certain features of the website.
          <br>
          <br>
          <u>Data Security</u><br>

          We prioritize the security of your information and take reasonable measures to protect it from unauthorized
          access, loss, or misuse. However, please note that no method of transmission over the internet or electronic
          storage is completely secure, and we cannot guarantee absolute security.
          <br>
          <br>
          <u>Third-Party Services</u><br>

          Cinemadle may contain links to third-party websites or services that are not owned or controlled by us. We are
          not responsible for the privacy practices or content of these third-party sites. We recommend reviewing the
          privacy policies of any external websites you visit.
          <br>
          <br>
          <u>Children's Privacy</u><br>

          Cinemadle is intended for a general audience and does not knowingly collect personal information from children
          under the age of 13. If we discover that we have inadvertently collected personal information from a child, we
          will take immediate steps to delete it from our systems.
          <br>
          <br>
          <u>Changes to this Privacy Policy</u><br>

          We reserve the right to update or modify this Privacy Policy at any time. Any changes will be effective
          immediately upon posting the revised policy on the Cinemadle website. We encourage you to review this page
          periodically for any updates.
          <br>
          <br>
          <u>Contact Us</u><br>

          If you have any questions or concerns about our Privacy Policy, please contact us at javierpsantos99@gmail.com.
        </p>
        <a class="text-success text-decoration-none" routerLink="/" ><i class="bi bi-arrow-left"></i> BACK</a>
      </div>
    </div>
  </div>
</div>
